.header {
    width: 100vw;
    height: 50px;
    background: teal;
    position: fixed;
    text-align: center;
    padding: 10px;
}

.item {
    margin-right: 20px;
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.item:hover {
    border-bottom: 2px solid red;
}

.activeLink {
    color: gold;
}